@model MagFra_Gym.Gymbokning.Models.Entities.GymClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GymClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@{
    if (Model.UserGymClasses.Count == 0)
    {
        <h4>No attendees!</h4>
    }
    else
    {
        <h4>List of attendees.</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserGymClasses.First().applicationUser.Email)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model.UserGymClasses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(user => user.UserGymClasses.First().applicationUser.Email)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
